
<div style="width: 400px; padding-top: 30px; margin: auto;" *ngIf="signInFormVisible; else signUpForm">

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active"  (click)="makeSignInFormVisible()">Sign In</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="makeSignUpFormVisible()">Sign Up</a>
    </li>
  </ul>

  <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" name="email" [(ngModel)]="email">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="password">
    </div>
    <button type="submit" class="btn btn-primary" (click)="login()">Sign In</button>
  </form>
</div>

<ng-template #signUpForm>
  <div style="width: 400px; margin: auto;">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" (click)="makeSignInFormVisible()">Sign In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" (click)="makeSignUpFormVisible()">Sign Up</a>
      </li>
    </ul>

    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name</label>
        <input type="email" class="form-control" placeholder="Enter your name here" name="name" [(ngModel)]="name">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" aria-describedby="emailHelp" name="email" [(ngModel)]="email">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" [(ngModel)]="password">
      </div>
      <button type="submit" class="btn btn-primary" (click)="signup()">Sign Up</button>
    </form>
  </div>
</ng-template>

