<div class="float-end" style="padding-right: 50px; padding-top: 20px;">
    <button [routerLink]="['/create']" class="btn btn-outline-success">Create Album</button>
   
</div>

<h3>All Albums</h3>

<div class="row" style="padding-left: 20px; ">
    <div class="col-sm-3 pt-3 " *ngFor="let album of albums">
        <div class="card" style="width: 18rem;" >
            <img class="card-img-top" src="albums.coverPhotoUrl" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{album.name}}</h5>
              <p class="card-text">Date Created:- {{album.dateCreated}}</p>
              <a [routerLink]="['/album', album.id]" class="btn btn-primary">Go to Album</a>
            </div>
        </div>
    </div>
</div>


   
